control-plane/Coral/node-redv1.txt
[{"id":"7ace2786.8a6d98","type":"tcp out","z":"1e8b4a76.ad3696","host":"localhost","port":"8992","beserver":"client","base64":false,"end":false,"name":"","x":658,"y":198,"wires":[]},{"id":"46119b36.514864","type":"template","z":"1e8b4a76.ad3696","name":"+ newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"CMD\":\"TC\",\"VAL\":\"0\"}\n","x":424,"y":82,"wires":[["7ace2786.8a6d98"]]},{"id":"973de820.849d98","type":"inject","z":"1e8b4a76.ad3696","name":"Topology Control whithout ACK","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":169,"y":81,"wires":[["46119b36.514864"]]},{"id":"918b2514.7b1dc8","type":"template","z":"1e8b4a76.ad3696","name":"+ newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"CMD\":\"TC\",\"VAL\":\"1\"}\n","x":426,"y":137,"wires":[["7ace2786.8a6d98"]]},{"id":"325c9436.02d90c","type":"inject","z":"1e8b4a76.ad3696","name":"Topology Control whith ACK","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":163,"y":139,"wires":[["918b2514.7b1dc8"]]},{"id":"bacdc486.fc20e8","type":"inject","z":"1e8b4a76.ad3696","name":"TRICKLE TIMER","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":247,"wires":[["7068daad.729754"]]},{"id":"7068daad.729754","type":"template","z":"1e8b4a76.ad3696","name":"+ newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"CMD\":\"TT\",\"VAL\":\"10\"}\n","x":422,"y":249,"wires":[["7ace2786.8a6d98"]]}]